  - name: pr-${org}-${repo}-jenk-${operating_system}-${build_type_short}-${compiler_short}
    branches:
    - master
    always_run: true
    decorate: true
    skip_report: false
    max_concurrency: 10
    spec:
      containers:
        - image: openenclave/test-infra-did:latest
          command:
          - /bin/bash
          args:
          - -c
          - 'echo "I am not implemented yet! Thanks for your interest in this project! ${org}-${repo}-${operating_system}-${build_type_short}-${compiler_short}"'
